[submodule "g3"]
	path = g3
	url = https://github.com/mdecd2024/2a-midag3.git
[submodule "g10"]
	path = g10
	url = https://github.com/mdecd2024/test-ag1.git
[submodule "g2"]
	path = g2
	url = https://github.com/mdecd2024/2a-midag2.git